* {
  all: unset;
}

.music-player {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: solid white 1.5px;
  min-width: 500px;

  .volume scale trough highlight {
    all: unset;
    background-image: linear-gradient(to top, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
    min-width: 10px;
    min-height: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .art {
    all: unset;
    background-size: 100%;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    border: solid gray 1.5px;
  }

  .info {
    padding: 0em 1em;
    border-radius: 5px;

    .title {
      font-size: 16px;
      font-weight: bolder;
    }

    .album {
      font-weight: bold;
      color: white;
    }

    .artist {
      color: gray;
    }
  }

  .controls {
    font-size: 20px;

    button {
      &:hover {
        color: red;
      }
    }
  }

  .position scale trough highlight {
    all: unset;
    background-color: white;
    border-radius: 10px;
    min-width: 10px;
  }

  .position scale trough {
    all: unset;
    background-color: gray;
    min-width: 10px;
    min-height: 10px;
    border-radius: 10px;
  }

  .time {
    font-size: 20px;

    .position {
      margin-left: 30px;
      font-weight: bold;
      color: white;
    }

    .div {
      color: gray;
    }

    .length {
      margin-right: 30px;
      font-weight: bold;
      color: gray;
    }
  }
}
