$color_crust:     #11111b;
$color_mantle:    #181825;
$color_base:      #1e1e2e;
$color_text:      #cdd6f4;
$color_subtext0:  #a6adc8;
$color_overlay0:  #6c7086;
$color_lavender:  #b4befe;
$color_rosewater: #f5e0dc;
$color_red:       #f38ba8;

$widget_margin: 10px;
$widget_border_radius: 10px;
$widget_border_width: 5px;

* {
  all: unset;
}

.dashboard {
  .bg {
    background-color: $color_crust;
    border-radius: 10px;
    padding: $widget_margin;
    border: solid white 1.5px;
  }
}

.clock {
  background-color: $color_base;
  color: $color_text;
  border-radius: $widget_border_radius;
  border: solid $color_mantle $widget_border_width;
  margin: $widget_margin;

  .box {
    .hour {
      font-size: 72px;
    }

    .dotdot {}

    .min {}
  }
}

.music-player {
  background-color: $color_base;
  color: $color_text;
  border-radius: $widget_border_radius;
  border: solid $color_mantle $widget_border_width;
  margin: $widget_margin;

  padding: 10px;
  min-width: 500px;

  .volume scale trough highlight {
    all: unset;
    background-color: $color_lavender;
    border-radius: 10px;
    min-width: 10px;
    min-height: 10px;
  }

  .volume scale trough {
    background-color: $color_mantle;
    min-width: 10px;
    min-height: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .art {
    all: unset;
    background-size: 100%;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    border: solid $color_overlay0 1.5px;
  }

  .info {
    padding: 0em 1em;
    border-radius: 5px;

    .title {
      font-size: 16px;
      font-weight: bolder;
    }

    .album {
      font-weight: bold;
      color: $color_subtext0;
    }

    .artist {
      color: $color_overlay0;
    }
  }

  .controls {
    font-size: 20px;

    button {
      &:hover {
        color: $color_red;
      }
    }
  }

  .position scale trough highlight {
    all: unset;
    background-color: $color_lavender;
    border-radius: 10px;
    min-width: 10px;
  }

  .position scale trough {
    all: unset;
    background-color: $color_mantle;
    min-width: 10px;
    min-height: 10px;
    border-radius: 10px;
  }

  .time {
    font-size: 20px;

    .position {
      margin-left: 30px;
      font-weight: bold;
      color: $color_text;
    }

    .div {
      color: $color_subtext0;
    }

    .length {
      margin-right: 30px;
      font-weight: bold;
      color: $color_overlay0;
    }
  }
}
