[[language]]
name = "rust"
roots = ["Cargo.toml", "Cargo.lock", "rust-project.json", ".rust-project.json"]

[[language]]
name = "egg"
scope = "scope.egg"
injection-regex = "egg"
file-types = ["egg"]
comment-token = ";"
roots = []
grammar = "egg"

[[grammar]]
name = "egg"
source = { git = "https://github.com/segeljakt/tree-sitter-egg", rev = "ac30f193b17283870c9500639e121c4dd065625c"}

[[language]]
name = "tml"
scope = "scope.tml"
injection-regex = "tml"
file-types = ["tml"]
comment-token = ";"
roots = []
grammar = "clojure"

[[language]]
name = "grain"
scope = "source.grain"
injection-regex = "grain"
file-types = ["gr"]
comment-token = "//"
roots = []
indent = { tab-width = 2, unit = "  " }
language-servers = ["grain"]
grammar = "grain"

[[grammar]]
name = "grain"
source = { path = "/home/mars/code/gh/tree-sitter-grain" }

[language-server.grain]
command = "grain"
args = ["lsp"]

[language-server.rust-analyzer.config]
cargo = { features = "all" }
check = { allTargets = true, command = "clippy" }
