* {
    font-family: 'Fira Code Nerd Font';
    font-size: 14px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.0;
}

#window {
    border-radius: 0px;
    margin-bottom: 0px;
}

.modules-left, .modules-center, .modules-right {
    margin-bottom: 4px;
}

.modules-left {
    margin-left: 4px;
}

.modules-right {
    margin-right: 3px;
}

#mode,
#mpd,
#mpris,
#custom-media,
#tray,
#pulseaudio,
#memory,
#cpu,
#temperature,
#backlight,
#battery,
#idle_inhibitor,
#clock,
#workspaces
{
    padding: 8px;
    margin: 0px 4px; /* gap between modules */
    border: 2px solid #3c3836;
    border-radius: 4px;
    background: #141617;
}

#workspaces {
    padding: 0px;
}

#workspaces button {
    padding: 0px;
    background: inherit;
    color: #d4be98;
    border-radius: 2px;
}

#workspaces button.focused {
    background: #1d2021;
    border: 1px solid #3c3836;
}

#workspaces button:hover {
    border: 1px solid #3c3836;
}

#workspaces button.urgent {
    color: #ea6962;
}

#mode           { color:  #d4be98; }
#mpris          { color:  #d4be98; }
#custom-media   { color:  #a9b665; }
#idle_inhibitor { color:  #d4be98; }
#network        { color:  #e78a4e; }
#pulseaudio     { color:  #d3869b; }
#memory         { color:  #89b482; }
#cpu            { color:  #d8a657; }
#temperature    { color:  #ea6982; }
#backlight      { color:  #7daea3; }
#battery        { color:  #d3869b; }
#disk           { color:  #d8a657; }
#clock          { color:  #d4be98; } 
