* {
  font-family: 'Atkinson Hyperlegible Mono';
  font-size: 14px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.0;
}

.modules-left,
.modules-center,
.modules-right {
  border: 1px solid #3c3836;
  margin: 12px;
  margin-top: 0;
}

#mode,
#mpd,
#mpris,
#custom-media,
#tray,
#pulseaudio,
#memory,
#cpu,
#temperature,
#backlight,
#battery,
#language,
#idle_inhibitor,
#clock,
#workspaces,
#custom-notification,
#custom-pomidor {
  border: 1px solid #3c3836;
  padding: 8px 12px;
  background: #141617;
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  background: inherit;
  color: #d4be98;
  padding: 0;
  margin: 3px;
  border: 1px solid transparent;
  border-radius: 0;
}

#workspaces button.focused {
  background: #1d2021;
  border-color: #3c3836;
}

#workspaces button:hover {
  border-color: #3c3836;
}

#workspaces button.urgent {
  color: #ea6962;
}

#custom-notification {
  color: #d4be98;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#custom-pomidor.pestering {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pomidor.snoozing {
  color: #7c6f64;
}

#custom-pomidor.focus {
  color: #d4be98;
}

#custom-pomidor.longbreak, #custom-pomidor.shortbreak {
    color: #7daea3;
}

#custom-pomidor.error {
    color: #ea6982;
}

#mode           { color:  #d4be98; }
#mpris          { color:  #d4be98; }
#custom-media   { color:  #a9b665; }
#language       { color:  #d4be98; }
#idle_inhibitor { color:  #d4be98; }
#network        { color:  #e78a4e; }
#pulseaudio     { color:  #d3869b; }
#memory         { color:  #89b482; }
#cpu            { color:  #d8a657; }
#temperature    { color:  #ea6982; }
#backlight      { color:  #7daea3; }
#battery        { color:  #d3869b; }
#disk           { color:  #d8a657; }
#clock          { color:  #d4be98; } 
